body {
    margin: 0;
    background-color:#0BAD81;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

h1,
p {
    color: #fff;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 0 20px;
}

h1 {
    margin: 0;
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    color:#fff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    display: none;
}

li:hover,
h1:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(109, 239, 146, 0.2);
}
button:focus ~ ul {
    height: 250px;
}

@media (max-width: 700px) {
    nav, ul {
        flex-direction: column;
    }
    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }
    nav {
        padding: 0;
        align-items: flex-start;
    }
    h1 {
        margin: 10px;
    }
    button {
        display: flex;
    }
    li, ul {
        width: 100%;
    }
}
   a{
    text-decoration: none;
   }
                                            /*home*/


.texto-sobre{
    margin-top: 80px;
}
.texto-sobre h3{
    margin-left: 40px;
    width: 5200px;
    text-align: 100px;
    font-size: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foto { 
    height: 300px;
    position: relative;
    position: absolute;
    bottom:-350px;
    right:-550px;
    width: 1060px;
    height: 780px;
}
#ass{
  text-decoration: underline
}

                     /* footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 100px 0;
    margin-top: 250px;
}
.footer-col{
   width: 45%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 28px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0bad81;
	height: 2px;
	box-sizing: border-box;
	width: 110px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #000000;
	background-color: #ffffff;
}

                      /*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
                            
                                    /*LOGIN*/

.login { /* todo o corpo do login */
    width: 360px;
    height: min-content;
    padding: 40px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px;
    margin: auto;
    margin-top: 50 px;
 }
 
 .login h6 { /* título */
    font-size: 25px;
    margin-bottom: 25px;
 }
 
 .login form {
    font-size: 20px;
 }
 
 .login form .form-group { /* margin entre login e btn "enviar" */
    margin-bottom: 25px;
 }
 
 
 #esqueci{            /* esqueci minha senha*/
    text-decoration: none;
    color: #0bad81;
    margin-left: 46px;
    font-size: 20px;
 }
 
 #cadastro{            /* cadastre-se*/
    text-decoration: none;
    color: #0bad81;
    margin-left: 90px;
 }
 
 
 .btn {
  color: black;
    box-shadow: black;
    background-color: #0BAD81;
    margin-bottom: 20px;
    font: normal 13pt Arial;
}
 p {
    text-align: center;
 }

 .btn:hover{
  color: black;
    border-radius: 5px;
    border: solid 2px ;
    padding: 10px 20px;
  
 }
 #esqueci:hover{
  text-decoration: underline;
}
#cadastro:hover{
  text-decoration: underline;
}

                                                /*CONTATOS*/
 
    #animations {
    animation-name: popup;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes popup {
    from {
      transform: translateY(-10px);
    }
  
    to {
      transform: scaleY(0px);
    }
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #000000;
    }
  
    100% {
      box-shadow: 0 0 0 20px;
    }
  }
  
  .whats {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    position: fixed;
    bottom: 40px;
    right: 25px;
    font-size: 64px;
    z-index: 1000;
    box-shadow: 2px 2px 2px rgba(182, 46, 5, 0);
    transform: scaleY(-10px);
    background-color: green;
  }
  
  .icone {
    width: 55px;
    height: 55px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    animation: pulse 1.5s linear infinite;
    text-decoration: none;
  }

 .whats a {
    color: white;
    text-decoration: none;
 }

/* pagina de contatos */
.contatos-geral {
    display: flex;
    margin-top: 5rem;
    padding: 0 40px;
    width: 100%;
   
}

.titulo {
    font-size: 30px;
    margin-top: 5rem;
    font-weight: 600;
    text-align: center;
}

.titulo h1 {
  color: #8e2424;
  font-size: 40px;

}

.card{
    display: flex;
    margin: 2rem;
    height: 25rem;
    padding: 0.3rem;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
   /* From https://css.glass */
    background: rgba(180, 36, 31, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid #0BAD81;     
}

.img img {
    width: 200px;
    padding: 1rem;
    transition: 0.5s;
    border-radius: 100%;
}

h4 {
   font-size: 1.7rem;
}

.conteudo-contatos {
    padding: 4px;
    text-align: center;
}

.conteudo-contatos p {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    margin-right: 50px;
}

.conteudo-contatos a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #0b7bff; */
    color: #222;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
}

.card:hover {
    background-color: #000000;
    color: white;
    margin-top: -1rem;
    box-shadow: 2px 20px 25px #666;
    border-color: #000000
}

.card:hover .conteudo-contatos p{
    color: white;
}

.card:hover .conteudo-contatos a{
    color: #0BAD81;
    background-color: white;

}


@media (min-width: 1024px) and (max-width: 1250px) {
  .img img {
    width: 120px;
  }

  .conteudo-contatos a {
    padding: 1px 10px;
  }

  .whats {
    right: 15px;
  }

  .contatos-geral {
    margin-left: 8rem;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .contatos-geral {
    margin-left: 5rem;
  }

  .img img {
    width: 80px;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.7rem;
  }

  .card {
    margin: 1rem;
  }

  .conteudo-contatos a {
    margin-top: 1rem;
  }

  .whats {
    right: 09px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  
  main.contatos-geral {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .whats, .whats a, .whats a i {
    font-size: 35px;
  }

  .icone {
    width: 30px;
    height: 30px;
  }
}




/* ASSINATURA */
.cont {
  margin: auto;
  width: 900px;
  align-items: center;
  margin-top: 40px;
  border: solid #0BAD81 3px; 
  margin-bottom: 450px;
}

.conteudo {
  width: 30%;
  background:#0BAD81;
  border-radius: 20px;
  float: left;
  margin: 10px;
  margin-top: 8%;
  text-align: center;
  
}

.preco{
  width: 120px;
  height: 120px;
  margin: 5% auto 0 auto;
  text-align: center;
}

.descricao{
  margin-top: -50px;
}

.conteudo h1{
  border-bottom: solid rgba(0, 0, 0, 0.221) 2px;
  margin-bottom: 30px; 
  color: white;
  font-size: 30px;
  line-height: 2;
  text-transform: uppercase;
}

.conteudo h2{
  color: white;
  font-size: 35px;
}

.conteudo span{
  font-size: 20px;
  color: white;
}

.conteudo h4{
  color: white;
  font-weight: normal;
  line-height: 0.7em;
  font-size: 20px;
  padding: 5px;
}

.conteudo a{
  text-decoration: none;
  border-radius: 5px;
  border: solid 2px white;
  color: black;
  padding: 10px 60px;
  display: inline-block;
  margin: 10% auto;
  text-transform: uppercase;
  font-weight: bold;
}

.conteudo:hover{
  background: black;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 2px 20px 25px black;
  margin-top: 2px;
}

.conteudo:hover h1{
  border-bottom: solid rgba(255, 255, 255, 0.166) 2px;
 color: #0BAD81;
}

.conteudo:hover h2{
  color: #0BAD81;
}

.conteudo:hover a{
  color: #0BAD81;
  border-radius: 5px;
  border: solid 2px ;
  text-decoration: none;
  padding: 10px 60px;
  text-transform: uppercase;
  display: inline-block;
  margin: 10% auto;

}

.conteudo:hover h4{
  color: #0BAD81;
}

.conteudo:hover span{
  color: #0BAD81;
}


/* CADASTRO */

:root{
  --bg-color: #0BAD81; /* cor de fundo principal */
  --secundary-bg-color: #57576f; /* cor de fundo secundária */
  --primary-color: rgb(117, 126, 179); /* cor primária dos textos */
  --secundary-color: rgb(196, 202, 212);
  --text-color:  #fdfdfd;
  --border-color: #c3c9ec;
}

#checkout-page {
   background-color: var(--bg-color);
  color: var(--text-color);
}

/*caixa de mensagem*/
#fade {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 6);
  display:flex;
  align-items: center; 
  justify-content: center;
  z-index: 10;

}

#fade .spinner-border {
  width: 60px;
  height: 60px;

}

.hide {
display: none !important;
}

#message{
  width: 40%;
}

.alert.alert-light p {
  border-bottom: 1px solid #dadbeb;
  padding: 1.2em.0;
}

/*Steps formulário como um todo*/         
#order-form-container {
  padding: 1.5em;
  max-width: 700px;
}

#steps {
  display: flex;
  justify-content: space-between;              /*icones um ao lado do outro*/ 
  border-bottom: 1px solid var(--secundary-bg-color);
  position: relative;

}
.step {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step i {
  background-color: var(--secundary-bg-color);
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 1.2em;
  text-align: center;
  margin-top: 0.3em;
} 

.step .active { 
   background-color: var(--secundary-bg-color);
   color: var(--primary-color)
}

.step p{
color: var(--text-color)
}

.line {
  border-bottom: 1px solid var(--border-color);
  position: absolute;
  top: 22.5px;
  width: 90%;
  left: 5%;
  z-index: -1;

}
/* Form header*/ 
#form-header p {
  color: var(--text-color)
}

/*Form -  detalhes do formulário*/
#order-form-container input,
#order-form-container select {
  background-color: var(--primary-color)
  border 2px solid var(--border-color)
  color var(--primary-color)
} 

#order-form-container select {
  padding: 1rem .75rem;

}


#order-form-container label {      
  color: var(--text-color);
  left: 1em;
}


#order-form-container input:disabled, 
#order-form-container select:disabled {
  background-color: var(--secundary-bg-color);
  color: var(--text-color);
}

#save-btn{
  background-color: #57576f;
  border: none;
  height: 3em;
  width: 8em;
  border-radius:1.5em;
}
